body {
    margin: 0%;
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

header p {
    text-align: center;
  
}
header img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header ul {
    list-style: none;
}

header h2 {
    font-size: 20px;
    text-align: left;
}
header h1 {
    color: #6930c3;
    font-size: 55px;
    text-align: left;
    font-style: bold;
}

header p {
    text-align: left;
}

.color1 {
    background-color: #264653;
}

.color2 {
    background-color: #c1d3fe
}

.color3 {
    background-color: #d7e3fc;
}

.color4 {
    background-color: #E9C46A;
}

.color5 {
    background-color: #;
}

.customIntro {
    position: relative;
    padding-top: 10%;
}

.btna-primary {
    background-color: #6930c3;
    
}