* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

   
  .container-custom {
    height: 100vh;
  }
  .container-custom img {
    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
  }
  .main-title {
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 6rem;
    transform: translate(-50%, -30%);
  }
  
  .content {
    width: 100%;
    background:  #BDB2FF;
    min-height: 65vh;
    z-index: 2;
    position: absolute;
  }


body {
    margin: 0%;
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

header p {
    text-align: center;
  
}
header img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header ul {
    list-style: none;
}

header h2 {
    font-size: 20px;
    text-align: left;
}
header h1 {
    color: #6930c3;
    font-size: 55px;
    text-align: left;
    font-style: bold;
}

header p {
    text-align: left;
}

.color1 {
    background-color: #dee2ff;
}

.color2 {
    background-color: #c1d3fe
}

.color3 {
    background-color: #d7e3fc;
}

.color4 {
    background-color: #ccdbfd;
}

.color5 {
    background-color: #6930c3;
}

.customIntro {
    position: relative;
    padding-top: 10%;
}

.btna-primary {
    background-color: #6930c3;
    
}

.forHover {
transition: all 0.5s;
cursor: pointer;
}

.forHover:hover {
    transform: scale(1.5);
    
}

.forHoverCard {
    transition: 0.3s ease;
}
.forHoverCard:hover {
    transform: scale(1.1);
    background-color: #A0C4FF;
    border-radius: 1rem;
    
}

.btna-primary {
    background-color: #BDB2FF;
    color: #6930c3;
    border-color: #BDB2FF;
    text-decoration: none;
    transition: all 0.5s;
    padding: 10px;
    border-radius: 2rem;
    
}

.btna-primary:hover {
    background-color: white;
    color: #6930c3;
    border-color: white;
    text-decoration: none;
   
}


.educationText {
    font-size: 2rem;
    
    text-align: left;
    
    padding: 10px;

    
}

.education-container {
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 50%;
    border-radius: 4rem;
    background-color: #A0C4FF;
    transition: 0.5s ease;
}

.education-container:hover {
    padding-left: 5%;
}

.education-main img {
    position: absolute;
    width: 30%;
    top: 100%;
    right: 10%;
}



 
  
  .text {
    padding: 2rem 20rem;
    font-size: 1.1rem;
  }

  .showText {
opacity: 0;
transition: 0.5s ease;
  }

  .showText:hover {
      opacity: 1;
  }

  